@model IEnumerable<SmartPark.Models.ParkingSpot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsOccupied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingLot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsOccupied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingLot.ParkingLotID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkingSpotID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParkingSpotID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParkingSpotID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
